@page
@model WardrobeApp.Pages.ClothingItemCRUD.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ClothingItem</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ClothingItem.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ClothingItem.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ClothingItem.Image)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ClothingItem.Image)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ClothingItem.Type)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ClothingItem.Type)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ClothingItem.Owner)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ClothingItem.Owner.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.ClothingItem.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
