@page
@model DashboardModel

@{
    ViewData["Title"] = "Index";
}

<div class="container mt-5">
    <div class="header-box mb-4">
        <h1>Dashboard</h1>
    </div>
    <h2>AppUser list</h2>

	<a class="mobile-only mb-1 mt-1" asp-page="Create">CREATE USER</a>

	<div class="d-flex justify-content-between align-items-center">
		<a class="desktop-only create" asp-page="Create">CREATE USER</a>
		<form asp-page="./Dashboard" method="get" class="d-flex align-items-end search-box">
			<div class="search me-2 flex-grow-1">
				<label for="SearchString">Find by nickname:</label>
				<input type="text" class="form-control" id="SearchString" name="SearchString" value="@Model.CurrentFilter">
			</div>
			<button type="submit" class="btn btn-primary">Search</button>
			<a href="./Dashboard" class="btn btn-secondary ms-2">Full List</a>
		</form>
	</div>

    <div class="table-container">
		<table class="table">
			<thead>
				<tr>
					<th>@Html.DisplayNameFor(model => model.AppUser[0].Nick)</th>
					<th>@Html.DisplayNameFor(model => model.AppUser[0].Gender)</th>
					<th>@Html.DisplayNameFor(model => model.AppUser[0].DateOfCreation)</th>
					<th>@Html.DisplayNameFor(model => model.AppUser[0].Email)</th>
					<th>@Html.DisplayNameFor(model => model.AppUser[0].EmailConfirmed)</th>
					<th class="long-data">@Html.DisplayNameFor(model => model.AppUser[0].PasswordHash)</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				@foreach (var item in Model.AppUser)
				{
					<tr>
						<td>@Html.DisplayFor(modelItem => item.Nick)</td>
						<td>@Html.DisplayFor(modelItem => item.Gender)</td>
						<td>@Html.DisplayFor(modelItem => item.DateOfCreation)</td>
						<td>@Html.DisplayFor(modelItem => item.Email)</td>
						<td>@Html.DisplayFor(modelItem => item.EmailConfirmed)</td>
						<td class="long-data">@Html.DisplayFor(modelItem => item.PasswordHash)</td>
						<td>
							<a asp-page="./Edit" asp-route-id="@item.Id">EDIT</a>
							<a asp-page="./Details" asp-route-id="@item.Id">DETAILS</a>
							<a asp-page="./Delete" asp-route-id="@item.Id">DELETE</a>
						</td>
					</tr>
				}
			</tbody>
		</table>
    </div>

</div>
