@page
@model WardrobeApp.Pages.Outfits.CreateModel

@{
    ViewData["Title"] = "Create";
}

<div class="main-page-container">
    <div class="page-header">
        <h1>Add Item</h1>
        <p>Add new clothing item</p>
    </div>
    <div class="outfit-creation-container">
        <form method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly"></div>
            <div>
                <label asp-for="Input.Name">Outfit Name</label>
                <input asp-for="Input.Name" />
                <span asp-validation-for="Input.Name"></span>
            </div>
            <div>
                <label>Headwear:</label>
                <select asp-for="Input.HeadwearId" onchange="previewHeadwear(this)">
                    <option value="">-- Select Headwear --</option>
                    @foreach (var item in Model.HeadwearItems)
                    {
                        var base64Image = Convert.ToBase64String(item.Image);
                        var imageSrc = $"data:image/jpeg;base64,{base64Image}";
                        <option value="@item.Value" data-image="@imageSrc">@item.Text</option>
                    }
                </select>
                <span asp-validation-for="Input.HeadwearId"></span>
            </div>
            <div>
                <label>Top:</label>
                <select asp-for="Input.TopId" onchange="previewTop(this)">
                    <option value="">-- Select Top --</option>
                    @foreach (var item in Model.TopItems)
                    {
                        var base64Image = Convert.ToBase64String(item.Image);
                        var imageSrc = $"data:image/jpeg;base64,{base64Image}";
                        <option value="@item.Value" data-image="@imageSrc">@item.Text</option>
                    }
                </select>
                <span asp-validation-for="Input.TopId"></span>
            </div>
            <div>
                <label>Bottom:</label>
                <select asp-for="Input.BottomId" onchange="previewBottom(this)">
                    <option value="">-- Select Bottom --</option>
                    @foreach (var item in Model.BottomItems)
                    {
                        var base64Image = Convert.ToBase64String(item.Image);
                        var imageSrc = $"data:image/jpeg;base64,{base64Image}";
                        <option value="@item.Value" data-image="@imageSrc">@item.Text</option>
                    }
                </select>
                <span asp-validation-for="Input.BottomId"></span>
            </div>
            <div>
                <label>Footwear:</label>
                <select asp-for="Input.FootwearId" onchange="previewFootwear(this)">
                    <option value="">-- Select Footwear --</option>
                    @foreach (var item in Model.FootwearItems)
                    {
                        var base64Image = Convert.ToBase64String(item.Image);
                        var imageSrc = $"data:image/jpeg;base64,{base64Image}";
                        <option value="@item.Value" data-image="@imageSrc">@item.Text</option>
                    }
                </select>
                <span asp-validation-for="Input.FootwearId"></span>
            </div>
            <div class="button-container">
                <button type="submit" value="Create" class="button button--primary">Create</button>
                <a class="button button--secondary" asp-page="Index">Back to List</a>
            </div>
        </form>
        <div class="outfit-preview">
            <img id="headwearImage" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" alt="Preview Image" class="outfit-preview__image">
            <img id="topImage" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" alt="Preview Image" class="outfit-preview__image">
            <img id="bottomImage" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" alt="Preview Image" class="outfit-preview__image">
            <img id="footwearImage" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" alt="Preview Image" class="outfit-preview__image">
        </div>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        function previewHeadwear(selectElement) {
            var selectedOption = selectElement.options[selectElement.selectedIndex];
            var imageSrc = selectedOption.getAttribute('data-image');
            document.getElementById('headwearImage').src = imageSrc;
            if (document.getElementById('headwearImage').src == null ) {
                document.getElementById('headwearImage').src = "data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7";
			}
        }
        function previewTop(selectElement) {
			var selectedOption = selectElement.options[selectElement.selectedIndex];
			var imageSrc = selectedOption.getAttribute('data-image');
			document.getElementById('topImage').src = imageSrc;
            if (document.getElementById('topImage').src == null) {
                document.getElementById('topImage').src = "data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7";
            }

		}
        function previewBottom(selectElement) {
            var selectedOption = selectElement.options[selectElement.selectedIndex];
			var imageSrc = selectedOption.getAttribute('data-image');
			document.getElementById('bottomImage').src = imageSrc;
            if (document.getElementById('bottomImage').src == null) {
				document.getElementById('bottomImage').src = "data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7";
			}
        }
		function previewFootwear(selectElement) {
			var selectedOption = selectElement.options[selectElement.selectedIndex];
            var imageSrc = selectedOption.getAttribute('data-image');
            document.getElementById('footwearImage').src = imageSrc;
            if (document.getElementById('footwearImage').src == null) {
				document.getElementById('footwearImage').src = "data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7";
			}
        }
    </script>
}
