@page
@model WardrobeApp.Pages.Outfits.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<div class="main-page-container main-page-container--outfits">
    <div class="page-header">
        <h1>@Model.Outfit.Name</h1>
        <p>
            See your outfit from @Model.Outfit.Created. This outfit is created from
            @if (Model.Outfit.Headwear != null)
            {
                @Model.Outfit.Headwear.Name
            }
            else
            {
                <span>no headwear</span>
            },
            @Model.Outfit.Top.Name,
            @Model.Outfit.Bottom.Name
            and
            @if (Model.Outfit.Footwear != null)
            {
                @Model.Outfit.Footwear.Name
            }
            else
            {
                <span>no footwear</span>
            }.
        </p>
    </div>
    <div class="outfit-preview">
        @if (Model.Outfit.Headwear.Image != null && Model.Outfit.Headwear.Image.Length > 0)
        {
            <img class="outfit-preview__image" src="data:image;base64,@(Convert.ToBase64String(Model.Outfit.Headwear.Image))" alt="Clothing Image" />
        }
        else
        {
            <img class="outfit-preview__image" src="data:image /gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" alt="Empty Image" />
        }

        @if (Model.Outfit.Top.Image != null && Model.Outfit.Top.Image.Length > 0)
        {
            <img class="outfit-preview__image" src="data:image;base64,@(Convert.ToBase64String(Model.Outfit.Top.Image))" alt="Clothing Image" />
        }
        else
        {
            <img class="outfit-preview__image" src="data:image /gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" alt="Empty Image" />
        }

        @if (Model.Outfit.Bottom.Image != null && Model.Outfit.Bottom.Image.Length > 0)
        {
            <img class="outfit-preview__image" src="data:image;base64,@(Convert.ToBase64String(Model.Outfit.Bottom.Image))" alt="Clothing Image" />
        }
        else
        {
            <img class="outfit-preview__image" src="data:image /gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" alt="Empty Image" />
        }

        @if (Model.Outfit.Footwear.Image != null && Model.Outfit.Footwear.Image.Length > 0)
        {
            <img class="outfit-preview__image" src="data:image;base64,@(Convert.ToBase64String(Model.Outfit.Footwear.Image))" alt="Clothing Image" />
        }
        else
        {
            <img class="outfit-preview__image" src="data:image /gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" alt="Empty Image" />
        }
    </div>
    <div class="button-container">
        <a class="button button--primary" asp-page="./Index">Back</a>
    </div>

</div>
