@page
@model WardrobeApp.Pages.Outfits.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Outfit[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Outfit[0].Created)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Outfit[0].Headwear)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Outfit[0].Top)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Outfit[0].Bottom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Outfit[0].Footwear)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Outfit) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Created)
            </td>
            <td>
                @if (item.Headwear.Image != null && item.Headwear.Image.Length > 0)
                {
                    <img src="data:image;base64,@(Convert.ToBase64String(item.Headwear.Image))" alt="Clothing Image" />
                }
                else
                {
                    <p>No image available</p>
                }
            </td>
            <td>
                @if (item.Top.Image != null && item.Top.Image.Length > 0)
				{
					<img src="data:image;base64,@(Convert.ToBase64String(item.Top.Image))" alt="Clothing Image" />
				}
				else
				{
					<p>No image available</p>
				}
            </td>
            <td>
                @if (item.Bottom.Image != null && item.Bottom.Image.Length > 0)
                {
                    <img src="data:image;base64,@(Convert.ToBase64String(item.Bottom.Image))" alt="Clothing Image" />
				}
				else
				{
					<p>No image available</p>
				}
            </td>
            <td>
                @if (item.Footwear.Image != null && item.Footwear.Image.Length > 0)
				{
					<img src="data:image;base64,@(Convert.ToBase64String(item.Footwear.Image))" alt="Clothing Image" />
                }
                else
				{
					<p>No image available</p>
				}
            </td>
            <td>
                <a asp-page="./Details" asp-route-id="@item.Id">View</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
